* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color */
    --orange: #FF6900;
    --white: #ffffff;
    --dark: #1A1A1A;
    --red: #FF0000;
    --green: #008000;
    /* px */
    --padding-space-header: 70px;
    --padding-space-main: 50px;
    --padding-space-footer: 30px;
    /* font */
    --font-med-bold: 550;
    /* space-badge */
    --bot-sus-disc: 40px;
    --left-sus: 55px;
    --left-disc: 0px;
    --top-heart: 10px;
    --right-heart: 0px;
}

/* general */
/* .debugger{
    border: 1px solid red;
} */
.container {
    width: 1400px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

/* font utility */
.font-bold {
    font-weight: var(--font-med-bold);
}

/* background color */
.bg-orange {
    background-color: var(--orange);
}

.bg-dark {
    background-color: var(--dark);
}

/* flex utility */
.d-flex {
    display: flex;
}

.justcont-cen {
    justify-content: center;
}

.dir-col {
    flex-direction: column;
}

.spa-bet {
    justify-content: space-between;
}

/* position utility */
.pos-rel {
    position: relative;
}

body {
    font-family: Whitney, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: var(--font-med-bold);
}

/* header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: var(--white);
    height: var(--padding-space-header);
    border-bottom: 2px solid rgb(0, 0, 0, .2);
    font-size: 1.1em;
}

.header-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.header-flex img {
    width: 100%;
    display: block;
    height: 30px;
}


/* main */
main {
    /* padding: var(--padding-space-main); */
    padding-top: 125px;
    padding-bottom: var(--padding-space-main);
}

.main-flex {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}
.main-flex-other-pag{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
}
.panel {
    width: calc((100% - 40px) / 3);
}

.img-panel {
    position: relative;
}

.img-panel img {
    width: 100%;
    /* display: block; */
}
.img-panel:hover{
    cursor: pointer;
}
.img-panel:hover .heart-logo {
    color: red;
}

.show-img {
    display: block;
}

.hide-img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.img-panel:hover .hide-img {
    display: block;
}

.txt-panel {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: .95em;
}

.first-txt-panel {
    font-weight: 200;
}

.generic-badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-pos {
    background-color: var(--white);
    height: 50px;
    width: 50px;
    top: var(--top-heart);
    right: var(--right-heart);
}

.heart-logo {
    font-size: 2.2em;
}

.discount-pos {
    background-color: var(--red);
    height: 25px;
    width: 50px;
    left: var(--left-disc);
    bottom: var(--bot-sus-disc);
}

.discount-logo {
    color: white;
    font-size: .9em;
}

.sustainability-pos {
    background-color: var(--green);
    height: 25px;
    width: 100px;
    left: var(--left-sus);
    bottom: var(--bot-sus-disc);
}

.sustainability-txt {
    font-size: .9em;
}

#sus-different {
    left: var(--left-disc);
}

.sustainability-txt {
    color: var(--white);
}

.middle-txt-panel {
    text-transform: uppercase;
}

.txt-red {
    color: var(--red);
    font-size: .9em;
}

.txt-crossed {
    text-decoration: line-through;
    font-weight: 400;
    font-size: .9em;
}
/* main-other-pages */
.img-width-other-page{
    width:50%;
}
.txt-panel-other-page{
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: .95em;
    display: flex;
    align-self: flex-end;
    gap: 5px;
}
.p-other-pages{
    padding-top: 30px;
}
/* footer */
footer {
    color: var(--white);
    padding: var(--padding-space-footer);
    font-size: 1.1em;
}

.footer-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer-icon-txt {
    font-size: .8em;
}

.footer-icon {
    font-size: 1.2em;
}

.footer-info-txt {
    font-size: .8em;
    font-weight: 400;
}

.boolando-srl {
    padding-left: 5px;
}
/* footer-other-page */
.footer-space-other-page{
    margin-top: 100px;
}